body {
  background-color: #294d41;
  margin: 0;
}

.logo {
  margin: 5% auto 0;
  width: 500px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
